@import 'https://fonts.googleapis.com/css?family=Open+Sans';
html, body {
  padding: 0;
  margin: 0;
  color: #FFF;
  background-color: #272727;
  font-family: Open Sans, monotype;
}

h2 {
  margin-top: 5vh;
}

h5 {
  margin: 4px;
}

hr {
  margin: 4px;
}

.step {
  margin: 2em 0;
}

.step-image {
  display: block;
  margin: .3em auto;
  max-width: 100%;
}
